@page
@model PrivacyModel

    <div class="col-12 text-center">
        <h1>Aar&oacute;n Parrilla</h1>
    </div>

    <div class="col-12 text-left">
        <div class="col-6 text-left"></div>
        <h2>Descripci&oacute;n</h2>
    </div>
